<h1 class="text-center text-2xl font-medium mb-4">
  Добавить/Изменить комиссию
</h1>
<form
  [formGroup]="comission_form"
  class="flex w-full flex-wrap justify-between gap-4"
>
  @for (item of input_fields; track $index; let i = $index) { @if (item.type ===
  'text' || item.type === 'number') {
  <app-text-input
    [controlName]="item.controlName"
    [label]="item.label"
    [ngClass]="returnClass(i)"
  />
  } @else if (item.type === 'date') {
  <app-date-picker
    [controlName]="item.controlName"
    [label]="item.label"
    [ngClass]="returnClass(i)"
  />
  } @else if (item.type === 'select') {
  <app-select-input
    [controlName]="item.controlName"
    [label]="item.label"
    [options]="[{ name: 'Key', code: 'key' }]"
    [ngClass]="returnClass(i)"
  />
  } }

  <div class="flex justify-end w-full">
    <button
      pButton
      severity="secondary"
      (click)="onSubmit()"
      [disabled]="!comission_form.valid"
    >
      Отправит
    </button>
  </div>
</form>
