<h1 class="text-center text-2xl font-medium mb-4">Запрос pecypca №</h1>

<form
  [formGroup]="requestResource"
  class="flex w-full flex-wrap justify-center gap-4"
>
  @for (item of input_fields; track $index) { @if (item.type === 'text' ||
  item.type === 'number') {
  <app-text-input
    [controlName]="item.controlName"
    [label]="item.label"
    [placeholder]="item.placeholder"
    class="{{ item.class }}"
  />
  } @else if (item.type === 'date') {
  <app-date-picker
    [controlName]="item.controlName"
    [label]="item.label"
    class="{{ item.class }}"
    [placeholder]="item.placeholder"
  />
  } }

  <div class="flex justify-end w-full gap-2 mt-4">
    <button
      pButton
      severity="secondary"
      type="submit"
      (click)="onSubmit()"
      [disabled]="!requestResource.valid"
    >
      Отправить
    </button>
  </div>
</form>
