<h1 class="text-center text-2xl font-medium mb-4">
  Добавить/Изменить обязательство
</h1>

<form
  [formGroup]="commitment"
  class="flex w-full flex-wrap gap-4 justify-center"
>
  @for (item of input_fields; track $index) { @if (item.type === 'text' ||
  item.type === 'number') {
  <app-text-input
    [controlName]="item.controlName"
    [disabled]="item.disabled || false"
    [label]="item.label"
    [placeholder]="item.placeholder"
    class="{{ item.class }} flex gap-1 flex-col"
  />
  } @else if (item.type === 'select') {
  <app-select-input
    [controlName]="item.controlName"
    [disabled]="item.disabled || false"
    [label]="item.label"
    [placeholder]="item.placeholder"
    [options]="item.options || []"
    class="{{ item.class }} flex gap-1 flex-col"
  />
  } @else if (item.type === 'date') {
  <app-date-picker
    [controlName]="item.controlName"
    [label]="item.label"
    [placeholder]="item.placeholder"
    class="{{ item.class }} flex gap-1 flex-col"
  />
  } }

  <div class="w-[84%] flex justify-end mt-2">
    <button
      pButton
      severity="secondary"
      (click)="onSubmit()"
      [disabled]="!commitment.valid"
    >
      Отправить
    </button>
  </div>
</form>
