<form
  class="flex flex-col flex-auto"
  [formGroup]="form"
  (ngSubmit)="submit(form)"
>
  <h1 class="text-center text-xl font-normal text-gray-600">
    Условия финансирования импортного контракта
  </h1>
  <div class="grid grid-cols-12 gap-2 pt-2">
    <div class="col-span-12 flex justify-end">
      <p-float-label class="w-40">
        <p-select
          size="small"
          [inputId]="ECreditBlanForm.BRANCH"
          [options]="[]"
          [fluid]="true"
          optionLabel="name"
          optionValue="code"
          appendTo="body"
          [formControlName]="ECreditBlanForm.BRANCH"
          class="w-full"
        />
        <label [for]="ECreditBlanForm.BRANCH" class="!font-normal">
          Филиал
        </label>
      </p-float-label>
    </div>
    <div class="col-span-12 flex items-center justify-between gap-4">
      <div class="w-[56%]">
        <p-selectbutton
          size="small"
          [options]="stateOptions"
          optionLabel="label"
          optionValue="value"
          aria-labelledby="basic"
          [formControlName]="ECreditBlanForm.UNIQUE_TYPE"
        />
      </div>
      <div class="w-[20%] flex gap-1 items-center justify-end">
        <p-checkbox
          [inputId]="ECreditBlanForm.IS_RESER_WOUT_TRANCHE"
          [binary]="true"
          [indeterminate]="true"
          [formControlName]="ECreditBlanForm.IS_RESER_WOUT_TRANCHE"
        />
        <label [for]="ECreditBlanForm.IS_RESER_WOUT_TRANCHE" class="ml-2">
          Бронь без транша
        </label>
      </div>
      <div class="w-[34%]">
        <p-float-label>
          <input
            pInputText
            pSize="small"
            size="small"
            [id]="ECreditBlanForm.NOTE"
            [fluid]="true"
            [formControlName]="ECreditBlanForm.NOTE"
          />
          <label [for]="ECreditBlanForm.NOTE" class="!font-normal">
            Примечание
          </label>
        </p-float-label>
      </div>
    </div>
    <div class="col-span-4 flex flex-col gap-1">
      <label
        [for]="ECreditBlanForm.UNIQUE_ID"
        class="text-[#334155] font-normal"
        >Уникальный код/ID кред. анкета</label
      >
      <p-iconfield>
        <input
          type="text"
          size="small"
          pSize="small"
          [id]="ECreditBlanForm.UNIQUE_ID"
          [formControlName]="ECreditBlanForm.UNIQUE_ID"
          pInputText
          class="w-full"
        />
        <p-inputicon class="pi pi-search" />
      </p-iconfield>
    </div>

    <h1 class="text-md font-medium col-span-12">Условия Кредита</h1>
    <div
      class="border-2 rounded-[12px] col-span-12 p-4 py-6 border-gray-300"
      [formGroupName]="ECreditBlanForm.LOAN_TERMS"
    >
      <div class="grid grid-cols-12 gap-5">
        <div class="col-span-6">
          <p-float-label variant="on">
            <input
              pInputText
              size="small"
              class="w-full"
              [id]="ELoanTerms.PROJECT_INITATOR"
              pSize="small"
              [formControlName]="ELoanTerms.PROJECT_INITATOR"
            />
            <label [for]="ELoanTerms.PROJECT_INITATOR" class="!font-normal">
              Инициатор проекта
            </label>
          </p-float-label>
        </div>
        <div class="col-span-6">
          <p-float-label variant="on">
            <input
              pInputText
              pSize="small"
              class="w-full"
              [id]="ELoanTerms.IMPORT_CONTRACT_SUBJECT"
              [formControlName]="ELoanTerms.IMPORT_CONTRACT_SUBJECT"
            />
            <label
              [for]="ELoanTerms.IMPORT_CONTRACT_SUBJECT"
              class="!font-normal"
            >
              Предмет импортного контракта
            </label>
          </p-float-label>
        </div>
        <div
          class="col-span-6 gap-2 flex flex-col border-2 rounded-[12px] p-3 py-4 border-gray-300"
          [formArrayName]="ELoanTerms.SUPPLIER"
        >
          @for (item of supplier.controls; track item; let i = $index) {
          <div [formGroupName]="i" class="grid grid-cols-16 w-full gap-4">
            <div class="col-span-5">
              @if (i===0) {
              <label
                for="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Поставщик
              </label>
              }
              <input
                pInputText
                pSize="small"
                class="w-full"
                id="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                size="small"
                [formControlName]="ESupplier.VALUE"
              />
            </div>

            <div class="col-span-5">
              @if (i===0) {
              <label
                for="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Номер
              </label>
              }
              <input
                pInputText
                pSize="small"
                id="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                [formControlName]="ESupplier.NUMBER"
                class="w-full"
              />
            </div>

            <div class="col-span-5">
              @if (i===0) {
              <label
                for="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Дата контракта
              </label>
              }
              <p-datepicker
                size="small"
                id="{{ ELoanTerms.SUPPLIER }}-{{ i }}"
                [iconDisplay]="'input'"
                [showIcon]="true"
                [formControlName]="ESupplier.CONTRACT_DATE"
                class="w-full"
              ></p-datepicker>
            </div>
            @if (i !== 0) {
            <div class="col-span-1 flex justify-end items-center">
              <div
                (click)="removeSupplier(i)"
                class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
              >
                <i class="pi pi-minus text-red-500"></i>
              </div>
            </div>
            }
          </div>
          }
          <div class="flex justify-end w-[95%]">
            <span
              class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
              (click)="addSupplier()"
            >
              Добавить +
            </span>
          </div>
        </div>

        <div
          class="col-span-6 flex flex-col border-2 gap-2 rounded-[12px] p-3 py-4 border-gray-300"
          [formArrayName]="ELoanTerms.CREDIT_INFO"
        >
          @for (item of creditInfo.controls; track item; let i = $index) {
          <div class="grid grid-cols-16 gap-4" [formGroupName]="i">
            <!-- Payment terms -->
            <div class="col-span-5">
              @if (i === 0) {
              <label
                for="{{ ECreditInfo.PAYMENT_TERMS }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Условия платежа
              </label>
              }
              <p-select
                size="small"
                class="w-full"
                inputId="{{ ECreditInfo.PAYMENT_TERMS }}-{{ i }}"
                [options]="[]"
                [fluid]="true"
                optionLabel="name"
                optionValue="code"
                appendTo="body"
                [formControlName]="ECreditInfo.PAYMENT_TERMS"
                class="w-full"
              />
            </div>

            <!-- Amount -->
            <div class="col-span-5">
              @if (i === 0) {
              <label
                for="{{ ECreditInfo.AMOUNT }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Сумма
              </label>
              }
              <input
                pSize="small"
                pInputText
                size="small"
                class="w-full"
                id="{{ ECreditInfo.AMOUNT }}-{{ i }}"
                formControlName="amount"
              />
            </div>

            <!-- Currency -->
            <div class="col-span-5">
              @if (i === 0) {
              <label
                for="{{ ECreditInfo.CURRENCY }}-{{ i }}"
                class="font-normal block mb-1"
              >
                Валюта
              </label>
              }
              <p-select
                size="small"
                class="w-full"
                inputId="{{ ECreditInfo.CURRENCY }}-{{ i }}"
                [options]="[]"
                [fluid]="true"
                optionLabel="name"
                optionValue="code"
                appendTo="body"
                [formControlName]="ECreditInfo.CURRENCY"
              />
              <!-- <input
                  pInputText
                  size="small"
                  class="w-full"
                  id="currency-{{ i }}"
                  formControlName="currency"
                /> -->
            </div>

            <!-- Delete button -->
            @if (i !== 0) {
            <div class="col-span-1 flex justify-end items-center">
              <div
                (click)="removeCreditInfo(i)"
                class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
              >
                <i class="pi pi-minus text-red-500"></i>
              </div>
            </div>
            }
          </div>
          }

          <!-- Add button -->
          <div class="w-[95%] flex justify-end">
            <span
              class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
              (click)="addCreditInfo()"
              >Добавить +</span
            >
          </div>
        </div>
        <div class="col-span-6">
          <div class="grid grid-cols-12 gap-2">
            <div
              [formGroupName]="ELoanTerms.BANK_CREDIT_AMOUNT"
              class="col-span-12 grid grid-cols-12 gap-2"
            >
              <div class="col-span-9">
                <p-float-label variant="on">
                  <input
                    pInputText
                    pSize="small"
                    [id]="EBankCreditAmount.VALUE"
                    [formControlName]="EBankCreditAmount.VALUE"
                    class="w-full"
                  />
                  <label [for]="EBankCreditAmount.VALUE" class="!font-normal"
                    >Сумма кредита</label
                  >
                </p-float-label>
              </div>
              <div class="col-span-3">
                <p-float-label variant="on">
                  <p-select
                    size="small"
                    [inputId]="EBankCreditAmount.CURRENCY"
                    [options]="[]"
                    [fluid]="true"
                    optionLabel="name"
                    optionValue="code"
                    appendTo="body"
                    [formControlName]="EBankCreditAmount.CURRENCY"
                    class="w-full"
                  />
                  <label [for]="EBankCreditAmount.CURRENCY" class="!font-normal"
                    >Валюта</label
                  >
                </p-float-label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-6">
          <p-selectbutton
            size="small"
            [options]="[
              { label: 'Линия', value: 'line' },
              { label: 'Транш', value: 'tranche' }
            ]"
            optionLabel="label"
            optionValue="value"
            class="mb-2"
            aria-labelledby="basic"
            [formControlName]="ELoanTerms.UNIQUE_TYPE"
          />
          <input
            type="file"
            pInputText
            pSize="small"
            size="small"
            inputId="number"
            [fluid]="true"
            [formControlName]="ELoanTerms.LT_LINE"
          />
          <!-- <input
            type="file"
            pInputText
            pSize="small"
            size="small"
            inputId="number"
            [fluid]="true"
            formControlName="lt_tranche"
          /> -->
        </div>
      </div>
    </div>
    <h1 class="text-md font-medium col-span-12">Источник финансирования</h1>
    <div
      class="col-span-12 flex flex-col gap-4"
      [formArrayName]="ECreditBlanForm.FUNDING_SOURCE"
    >
      @for (group of funding_array.controls; track $index; let i = $index) {
      <div
        [formGroupName]="i"
        class="grid grid-cols-16 gap-4 justify-between mb-3 border-2 p-4 rounded-md border-gray-300"
      >
        <div class="col-span-8">
          <label
            for="{{ EFundingSource.LOAN_TERM }}-{{ i }}"
            class="font-normal block mb-1"
          >
            Срок кредита
          </label>
          <p-datepicker
            size="small"
            [iconDisplay]="'input'"
            [showIcon]="true"
            id="{{ EFundingSource.LOAN_TERM }}-{{ i }}"
            [formControlName]="EFundingSource.LOAN_TERM"
            class="w-full"
          ></p-datepicker>
        </div>

        <div class="col-span-8">
          <label
            for="{{ EFundingSource.GRACE_PERIOD }}-{{ i }}"
            class="font-normal block mb-1"
          >
            Льготный период
          </label>
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            size="small"
            id="{{ EFundingSource.GRACE_PERIOD }}-{{ i }}"
            [formControlName]="EFundingSource.GRACE_PERIOD"
            class="w-full"
          ></p-datepicker>
        </div>
        <div
          class="col-span-16 border-2 rounded-[12px] border-gray-300 py-6 p-4"
          [formGroupName]="EFundingSource.FINANCING_TERMS"
        >
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-6">
              <p-float-label variant="on">
                <p-datepicker
                  size="small"
                  [id]="EFinancingTerms.TRANCHE_TERM"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  [formControlName]="EFinancingTerms.TRANCHE_TERM"
                  class="w-full"
                ></p-datepicker>
                <label [for]="EFinancingTerms.TRANCHE_TERM" class="!font-normal"
                  >Срок транша</label
                >
              </p-float-label>
            </div>
            <div class="col-span-6">
              <div
                class="grid grid-cols-3 gap-4"
                [formGroupName]="EFinancingTerms.CREDIT_LINE_AMOUNT"
              >
                <div class="col-span-2">
                  <p-float-label variant="on">
                    <input
                      pInputText
                      pSize="small"
                      [id]="ECreditLineAmount.VALUE"
                      [formControlName]="ECreditLineAmount.VALUE"
                      class="w-full"
                    />
                    <label [for]="ECreditLineAmount.VALUE" class="!font-normal"
                      >Финансируемая за счет кредитной линии (Сумма)</label
                    >
                  </p-float-label>
                </div>
                <div class="col-span-1">
                  <p-float-label variant="on">
                    <p-select
                      size="small"
                      [inputId]="ECreditLineAmount.CURRENCY"
                      [options]="[]"
                      [fluid]="true"
                      optionLabel="name"
                      optionValue="code"
                      appendTo="body"
                      [formControlName]="ECreditLineAmount.CURRENCY"
                      class="w-full"
                    />
                    <label
                      [for]="ECreditLineAmount.CURRENCY"
                      class="!font-normal"
                      >Валюта</label
                    >
                  </p-float-label>
                </div>
              </div>
            </div>
            <div class="col-span-6">
              <p-float-label variant="on">
                <input
                  pInputText
                  pSize="small"
                  [id]="EFinancingTerms.TOTAL_INTEREST_RATE"
                  [formControlName]="EFinancingTerms.TOTAL_INTEREST_RATE"
                  class="w-full"
                />
                <label
                  [for]="EFinancingTerms.TOTAL_INTEREST_RATE"
                  class="!font-normal"
                  >Общая процентная ставка</label
                >
              </p-float-label>
            </div>
            <div class="col-span-6">
              <p-float-label variant="on">
                <input
                  pInputText
                  pSize="small"
                  [id]="EFinancingTerms.FOREIGN_BANK_MARGIN"
                  [formControlName]="EFinancingTerms.FOREIGN_BANK_MARGIN"
                  class="w-full"
                />
                <label
                  [for]="EFinancingTerms.FOREIGN_BANK_MARGIN"
                  class="!font-normal"
                  >Маржа инобанка</label
                >
              </p-float-label>
            </div>
            <div class="col-span-6">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  [inputId]="EFinancingTerms.REPAYMENT_FREQ"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="value"
                  optionValue="code"
                  appendTo="body"
                  [formControlName]="EFinancingTerms.REPAYMENT_FREQ"
                  class="w-full"
                />
                <label
                  [for]="EFinancingTerms.REPAYMENT_FREQ"
                  class="!font-normal"
                  >Периодичность о.д.</label
                >
              </p-float-label>
            </div>
            <div class="col-span-6">
              <div
                class="gap-4 grid grid-cols-3"
                [formGroupName]="EFinancingTerms.FLOATING_RATE"
              >
                <div class="col-span-2">
                  <p-float-label variant="on">
                    <p-select
                      size="small"
                      [inputId]="EFloatingRate.VALUE"
                      [options]="[]"
                      [fluid]="true"
                      optionLabel="value"
                      optionValue="code"
                      appendTo="body"
                      [formControlName]="EFloatingRate.VALUE"
                      class="w-full"
                    />
                    <label [for]="EFloatingRate.VALUE" class="!font-normal"
                      >Плавающая ставка</label
                    >
                  </p-float-label>
                </div>
                <div class="col-span-1">
                  <p-iconfield>
                    <p-inputicon class="pi pi-percentage" />
                    <input
                      [formControlName]="EFloatingRate.TYPE"
                      type="type"
                      pInputText
                      pSize="small"
                      class="w-full"
                    />
                  </p-iconfield>
                </div>
              </div>
            </div>
            <div class="col-span-6">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  [inputId]="EFinancingTerms.FREQ"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="value"
                  optionValue="code"
                  appendTo="body"
                  [formControlName]="EFinancingTerms.FREQ"
                  class="w-full"
                />
                <label [for]="EFinancingTerms.FREQ" class="!font-normal"
                  >Периодичность
                </label>
              </p-float-label>
            </div>

            <div class="col-span-6">
              <div
                class="gap-4 grid grid-cols-3"
                [formGroupName]="EFinancingTerms.TAX_RATE"
              >
                <div class="col-span-2">
                  <p-float-label variant="on">
                    <p-select
                      size="small"
                      [inputId]="ETaxRate.VALUE"
                      [options]="[]"
                      [fluid]="true"
                      optionLabel="value"
                      optionValue="code"
                      appendTo="body"
                      [formControlName]="ETaxRate.VALUE"
                      class="w-full"
                    />
                    <label [for]="ETaxRate.VALUE" class="!font-normal"
                      >Налоговая ставка</label
                    >
                  </p-float-label>
                </div>
                <div class="col-span-1">
                  <p-iconfield>
                    <p-inputicon class="pi pi-percentage" />
                    <input
                      [formControlName]="ETaxRate.TYPE"
                      type="type"
                      pInputText
                      pSize="small"
                      class="w-full"
                    />
                  </p-iconfield>
                </div>
              </div>
            </div>

            <div class="col-span-6">
              <div
                class="gap-4 grid grid-cols-3"
                [formGroupName]="EFinancingTerms.COMISSION_TYPE"
              >
                <div class="col-span-2">
                  <p-float-label variant="on">
                    <p-select
                      size="small"
                      [inputId]="EComissionType.VALUE"
                      [options]="[]"
                      [fluid]="true"
                      optionLabel="value"
                      optionValue="code"
                      appendTo="body"
                      [formControlName]="EComissionType.VALUE"
                      class="w-full"
                    />
                    <label [for]="EComissionType.VALUE" class="!font-normal"
                      >Вид комиссии</label
                    >
                  </p-float-label>
                </div>
                <div class="col-span-1">
                  <p-iconfield>
                    <p-inputicon class="pi pi-percentage" />
                    <input
                      [formControlName]="EComissionType.VALUE"
                      type="type"
                      pInputText
                      pSize="small"
                      class="w-full"
                    />
                  </p-iconfield>
                </div>
              </div>
            </div>
            @if (i !== 0) {
            <div class="col-span-6 flex justify-end items-center">
              <div
                (click)="removeFundingSource(i)"
                class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
              >
                <i class="pi pi-minus text-red-500"></i>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
    <div class="col-span-12 flex justify-end">
      <span
        class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
        (click)="addFundingSource()"
        >Добавить +</span
      >
    </div>
    <h1 class="text-md font-medium col-span-12">Источник финансирования</h1>
    <div
      class="col-span-12 border-2 border-gray-300 rounded-[12px] p-4"
      [formGroupName]="ECreditBlanForm.EARLY_REPAYMENT_CONDITION"
    >
      <textarea
        pTextarea
        pSize="small"
        id="value"
        [formControlName]="EEarlyRepaymentCondition.FIRST_AREA"
        class="w-full"
        [autoResize]="true"
        rows="5"
      ></textarea>
    </div>
  </div>
</form>

<div class="flex flex-col gap-2 mt-4">
  <h1 class="text-md font-medium col-span-12">Примечание</h1>
  <div class="border-2 border-gray-300 rounded-[12px] p-4">
    <textarea
      pTextarea
      pSize="small"
      [value]="textarea_value"
      style="background: white"
      class="w-full"
      [disabled]="true"
      [autoResize]="true"
      rows="4"
    ></textarea>
  </div>
</div>
