<form
  class="flex flex-col flex-auto"
  [formGroup]="form"
  (ngSubmit)="submit(form)"
>
  <h1 class="text-center text-xl font-normal text-gray-600">
    Условия финансирования импортного контракта
  </h1>
  <div class="grid grid-cols-12 gap-2 pt-2">
    <div class="col-span-12 flex justify-end">
      <p-float-label class="w-40">
        <p-select
          size="small"
          inputId="branch"
          [options]="[]"
          [fluid]="true"
          optionLabel="name"
          optionValue="code"
          appendTo="body"
          formControlName="branch"
          class="w-full"
        />
        <label for="branch" class="!font-normal"> Филиал </label>
      </p-float-label>
    </div>
    <div class="col-span-12 flex items-center justify-between gap-4">
      <div class="w-[56%]">
        <p-selectbutton
          size="small"
          [options]="stateOptions"
          optionLabel="label"
          optionValue="value"
          aria-labelledby="basic"
          formControlName="unique_type"
        />
      </div>
      <div class="w-[20%] flex gap-1 items-center justify-end">
        <p-checkbox
          inputId="is_reser_wout_tranche"
          [binary]="true"
          [indeterminate]="true"
          formControlName="is_reser_wout_tranche"
        />
        <label for="is_reser_wout_tranche" class="ml-2">
          Бронь без транша
        </label>
      </div>
      <div class="w-[34%]">
        <p-float-label>
          <input
            pInputText
            pSize="small"
            size="small"
            inputId="branch"
            [fluid]="true"
            formControlName="note"
          />
          <label for="note" class="!font-normal"> Примечание </label>
        </p-float-label>
      </div>
    </div>
    <div class="col-span-4 flex flex-col gap-1">
      <label for="unique_id" class="text-[#334155] font-normal"
        >Уникальный код/ID кред. анкета</label
      >
      <p-iconfield>
        <input
          type="text"
          size="small"
          pSize="small"
          inputId="unique_id"
          formControlName="unique_id"
          pInputText
          class="w-full"
        />
        <p-inputicon class="pi pi-search" />
      </p-iconfield>
    </div>

    <h1 class="text-md font-medium col-span-12">Условия Кредита</h1>
    <div
      class="border-2 rounded-[12px] col-span-12 p-4 py-6 border-gray-300"
      formGroupName="loan_terms"
    >
      <div class="grid grid-cols-12 gap-5">
        <div class="col-span-6">
          <p-float-label variant="on">
            <input
              pInputText
              size="small"
              class="w-full"
              id="project_initiator"
              pSize="small"
              formControlName="project_initiator"
            />
            <label for="project_initiator" class="!font-normal">
              Инициатор проекта
            </label>
          </p-float-label>
        </div>
        <div class="col-span-6">
          <p-float-label variant="on">
            <input
              pInputText
              pSize="small"
              class="w-full"
              id="import_contract_subject"
              formControlName="import_contract_subject"
            />
            <label for="import_contract_subject" class="!font-normal">
              Предмет импортного контракта
            </label>
          </p-float-label>
        </div>
        <div class="col-span-6 gap-2 flex flex-col" formArrayName="supplier">
          @for (item of supplier.controls; track item; let i = $index) {
          <div [formGroupName]="i" class="flex items-center w-full">
            <div class="w-[95%]">
              @if (i===0) {
              <label for="supplier-{{ i }}" class="font-normal block mb-1">
                Поставщик
              </label>
              }
              <input
                pInputText
                pSize="small"
                class="w-full"
                id="supplier-{{ i }}"
                size="small"
                formControlName="value"
              />
            </div>

            @if (i !== 0) {
            <div class="w-[5%] flex justify-end items-center">
              <div
                (click)="removeSupplier(i)"
                class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
              >
                <i class="pi pi-minus text-red-500"></i>
              </div>
            </div>
            }
          </div>
          }
          <div class="flex justify-end w-[95%]">
            <span
              class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
              (click)="addSupplier()"
            >
              Добавить +
            </span>
          </div>
        </div>

        <div
          class="col-span-6 border-2 rounded-[12px] p-3 py-4 border-gray-300"
        >
          <div
            class="col-span-12 gap-2 flex flex-col"
            formArrayName="credit_info"
          >
            @for (item of creditInfo.controls; track item; let i = $index) {
            <div class="flex" [formGroupName]="i">
              <!-- Payment terms -->
              <div class="flex w-[95%] justify-between">
                <div class="w-[35%]">
                  @if (i === 0) {
                  <label
                    for="payment_terms-{{ i }}"
                    class="font-normal block mb-1"
                  >
                    Условия платежа
                  </label>
                  }
                  <p-select
                    size="small"
                    class="w-full"
                    inputId="payment_terms-{{ i }}"
                    [options]="[]"
                    [fluid]="true"
                    optionLabel="name"
                    optionValue="code"
                    appendTo="body"
                    formControlName="payment_terms"
                    class="w-full"
                  />
                </div>

                <!-- Amount -->
                <div class="w-[30%]">
                  @if (i === 0) {
                  <label for="amount-{{ i }}" class="font-normal block mb-1">
                    Сумма
                  </label>
                  }
                  <input
                    pSize="small"
                    pInputText
                    size="small"
                    class="w-full"
                    id="amount-{{ i }}"
                    formControlName="amount"
                  />
                </div>

                <!-- Currency -->
                <div class="w-[30%]">
                  @if (i === 0) {
                  <label for="currency-{{ i }}" class="font-normal block mb-1">
                    Валюта
                  </label>
                  }
                  <p-select
                    size="small"
                    class="w-full"
                    inputId="currency-{{ i }}"
                    [options]="[]"
                    [fluid]="true"
                    optionLabel="name"
                    optionValue="code"
                    appendTo="body"
                    formControlName="currency"
                  />
                  <!-- <input
                  pInputText
                  size="small"
                  class="w-full"
                  id="currency-{{ i }}"
                  formControlName="currency"
                /> -->
                </div>
              </div>
              <!-- Delete button -->
              @if (i !== 0) {
              <div class="w-[5%] flex justify-end items-center">
                <div
                  (click)="removeCreditInfo(i)"
                  class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
                >
                  <i class="pi pi-minus text-red-500"></i>
                </div>
              </div>
              }
            </div>
            }

            <!-- Add button -->
            <div class="w-[95%] flex justify-end">
              <span
                class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
                (click)="addCreditInfo()"
                >Добавить +</span
              >
            </div>
          </div>
        </div>
        <div class="col-span-6">
          <div class="grid grid-cols-12 gap-2">
            <div class="col-span-9">
              <p-float-label variant="on">
                <input
                  pInputText
                  pSize="small"
                  id="number"
                  formControlName="number"
                  class="w-full"
                />
                <label for="number" class="!font-normal">Номер</label>
              </p-float-label>
            </div>

            <div class="col-span-3">
              <p-float-label variant="on">
                <p-datepicker
                  size="small"
                  id="contract_date"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  formControlName="contract_date"
                  class="w-full"
                ></p-datepicker>
                <label for="contract_date" class="!font-normal"
                  >Дата контракта</label
                >
              </p-float-label>
            </div>

            <div
              formGroupName="bank_credit_amount"
              class="col-span-12 grid grid-cols-12 gap-2"
            >
              <div class="col-span-9">
                <p-float-label variant="on">
                  <input
                    pInputText
                    pSize="small"
                    id="value"
                    formControlName="value"
                    class="w-full"
                  />
                  <label for="value" class="!font-normal">Сумма кредита</label>
                </p-float-label>
              </div>
              <div class="col-span-3">
                <p-float-label variant="on">
                  <p-select
                    size="small"
                    inputId="currency"
                    [options]="[]"
                    [fluid]="true"
                    optionLabel="name"
                    optionValue="code"
                    appendTo="body"
                    formControlName="currency"
                    class="w-full"
                  />
                  <label for="currency" class="!font-normal">Валюта</label>
                </p-float-label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-6">
          <p-selectbutton
            size="small"
            [options]="[
              { label: 'Линия', value: 'line' },
              { label: 'Транш', value: 'tranche' }
            ]"
            optionLabel="label"
            optionValue="value"
            class="mb-2"
            aria-labelledby="basic"
            formControlName="unique_type"
          />
          <input
            type="file"
            pInputText
            pSize="small"
            size="small"
            inputId="number"
            [fluid]="true"
            formControlName="lt_line"
          />
          <!-- Hali tepadagi yakunlanmagan -->
        </div>
      </div>
    </div>
    <h1 class="text-md font-medium col-span-12">Источник финансирования</h1>
    <div
      class="col-span-12 border-2 p-4 rounded-md border-gray-300"
      formArrayName="funding_source"
    >
      @for (group of funding_array.controls; track $index; let i = $index) {
      <div [formGroupName]="i" class="flex justify-between mb-3">
        <div class="flex w-[98%] justify-between">
          <div class="w-[49%]">
            @if (i === 0) {
            <label for="loan_term-{{ i }}" class="font-normal block mb-1">
              Срок кредита
            </label>
            }
            <p-datepicker
              size="small"
              [iconDisplay]="'input'"
              [showIcon]="true"
              id="loan_term-{{ i }}"
              formControlName="loan_term"
              class="w-full"
            ></p-datepicker>
          </div>

          <div class="w-[49%]">
            @if (i === 0) {
            <label for="grace_period-{{ i }}" class="font-normal block mb-1">
              Льготный период
            </label>
            }
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              size="small"
              id="grace_period-{{ i }}"
              formControlName="grace_period"
              class="w-full"
            ></p-datepicker>
          </div>
        </div>
        @if (i !== 0) {
        <div class="w-[2%] flex justify-end items-center">
          <div
            (click)="removeFundingSource(i)"
            class="flex items-center hover:cursor-pointer justify-center rounded-md w-[22px] h-[22px] bg-[#CBD5E180]"
          >
            <i class="pi pi-minus text-red-500"></i>
          </div>
        </div>
        }
      </div>
      }
    </div>
    <div class="col-span-12 flex justify-end">
      <span
        class="text-sm hover:cursor-pointer font-normal text-[#005aa0]"
        (click)="addFundingSource()"
        >Добавить +</span
      >
    </div>
    <h1 class="text-md font-medium col-span-12">Источник финансирования</h1>
    <div
      class="col-span-12 border-2 rounded-[12px] border-gray-300 py-6 p-4"
      formGroupName="financing_terms"
    >
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 flex flex-col gap-4">
          <p-float-label variant="on">
            <p-datepicker
              size="small"
              id="loan_term"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="loan_term"
              class="w-full"
            ></p-datepicker>
            <label for="loan_term" class="!font-normal">Срок кредита</label>
          </p-float-label>
          <p-float-label variant="on">
            <p-datepicker
              size="small"
              id="grace_period"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="grace_period"
              class="w-full"
            ></p-datepicker>
            <label for="grace_period" class="!font-normal"
              >Лыготный период</label
            >
          </p-float-label>
          <p-float-label variant="on">
            <p-datepicker
              size="small"
              id="tranche_term"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="tranche_term"
              class="w-full"
            ></p-datepicker>
            <label for="tranche_term" class="!font-normal">Срок транша</label>
          </p-float-label>
          <div class="grid grid-cols-3 gap-4" formGroupName="creditLineAmount">
            <div class="col-span-2">
              <p-float-label variant="on">
                <input
                  pInputText
                  pSize="small"
                  id="value"
                  formControlName="value"
                  class="w-full"
                />
                <label for="value" class="!font-normal"
                  >Финансируемая за счет кредитной линии (Сумма)</label
                >
              </p-float-label>
            </div>
            <div class="col-span-1">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  inputId="currency"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="name"
                  optionValue="code"
                  appendTo="body"
                  formControlName="currency"
                  class="w-full"
                />
                <label for="currency" class="!font-normal">Валюта</label>
              </p-float-label>
            </div>
          </div>
          <p-float-label variant="on">
            <input
              pInputText
              pSize="small"
              id="total_interest_rate"
              formControlName="total_interest_rate"
              class="w-full"
            />
            <label for="total_interest_rate" class="!font-normal"
              >Общая процентная ставка</label
            >
          </p-float-label>
        </div>
        <div class="col-span-6 flex flex-col gap-4">
          <p-float-label variant="on">
            <input
              pInputText
              pSize="small"
              id="foreign_bank_margin"
              formControlName="foreign_bank_margin"
              class="w-full"
            />
            <label for="foreign_bank_margin" class="!font-normal"
              >Маржа инобанка</label
            >
          </p-float-label>
          <div class="gap-4 grid grid-cols-3" formGroupName="floating_rate">
            <div class="col-span-2">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  inputId="value"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="value"
                  optionValue="code"
                  appendTo="body"
                  formControlName="value"
                  class="w-full"
                />
                <label for="value" class="!font-normal">Плавающая ставка</label>
              </p-float-label>
            </div>
            <div class="col-span-1">
              <p-iconfield>
                <p-inputicon class="pi pi-percentage" />
                <input
                  formControlName="type"
                  type="type"
                  pInputText
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
            </div>
          </div>
          <div class="gap-4 grid grid-cols-3" formGroupName="tax_rate">
            <div class="col-span-2">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  inputId="value"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="value"
                  optionValue="code"
                  appendTo="body"
                  formControlName="value"
                  class="w-full"
                />
                <label for="value" class="!font-normal">Налоговая ставка</label>
              </p-float-label>
            </div>
            <div class="col-span-1">
              <p-iconfield>
                <p-inputicon class="pi pi-percentage" />
                <input
                  formControlName="type"
                  type="type"
                  pInputText
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
            </div>
          </div>
          <p-float-label variant="on">
            <p-select
              size="small"
              inputId="repayment_freq"
              [options]="[]"
              [fluid]="true"
              optionLabel="value"
              optionValue="code"
              appendTo="body"
              formControlName="repayment_freq"
              class="w-full"
            />
            <label for="repayment_freq" class="!font-normal"
              >Периодичность о.д.</label
            >
          </p-float-label>
          <p-float-label variant="on">
            <p-select
              size="small"
              inputId="freq"
              [options]="[]"
              [fluid]="true"
              optionLabel="value"
              optionValue="code"
              appendTo="body"
              formControlName="freq"
              class="w-full"
            />
            <label for="freq" class="!font-normal">Периодичность </label>
          </p-float-label>
          <div class="gap-4 grid grid-cols-3" formGroupName="comission_type">
            <div class="col-span-2">
              <p-float-label variant="on">
                <p-select
                  size="small"
                  inputId="value"
                  [options]="[]"
                  [fluid]="true"
                  optionLabel="value"
                  optionValue="code"
                  appendTo="body"
                  formControlName="value"
                  class="w-full"
                />
                <label for="value" class="!font-normal">Вид комиссии</label>
              </p-float-label>
            </div>
            <div class="col-span-1">
              <p-iconfield>
                <p-inputicon class="pi pi-percentage" />
                <input
                  formControlName="type"
                  type="type"
                  pInputText
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-md font-medium col-span-12">Условия финансирования</h1>
    <div
      class="col-span-12 border-2 border-gray-300 rounded-[12px] p-4"
      formGroupName="early_repayment_condition"
    >
      <textarea
        pTextarea
        pSize="small"
        id="value"
        formControlName="first_area"
        class="w-full"
        [autoResize]="true"
        rows="5"
      ></textarea>
      <textarea
        pTextarea
        pSize="small"
        id="value"
        formControlName="first_area"
        class="w-full"
        [autoResize]="true"
        rows="5"
      ></textarea>
    </div>
  </div>
</form>

<div class="flex flex-col gap-2 mt-4">
  <h1 class="text-md font-medium col-span-12">Примечание</h1>
  <div class="border-2 border-gray-300 rounded-[12px] p-4">
    <textarea
      pTextarea
      pSize="small"
      [value]="textarea_value"
      style="background: white"
      class="w-full"
      [disabled]="true"
      [autoResize]="true"
      rows="4"
    ></textarea>
  </div>
</div>
