<div>
  <p-toast />

  <p-table
    #dt
    [columns]="tableData"
    [exportHeader]="'customExportHeader'"
    [value]="data"
    [paginator]="true"
    [rows]="10"
    [(selection)]="selectedProducts"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between my-4">
        <div class="flex gap-2">
          <p-button
            label="Добавит"
            icon="pi pi-plus"
            size="small"
            (onClick)="openNew()"
            severity="secondary"
          />
          @if (isDeleteSelectionVisible) {
          <p-button
            severity="danger"
            label="Delete Selection"
            icon="pi pi-trash"
            outlined
            size="small"
            (onClick)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
          />
          }
        </div>
        <div class="flex items-center gap-2">
          @if (isImportVisible) {
          <p-fileUpload
            mode="basic"
            name="excelFile[]"
            accept=".xlsx, .xls"
            [maxFileSize]="1000000"
            auto
            customUpload
            class="mr-2 inline-block"
            [chooseButtonProps]="{ severity: 'secondary' }"
            [showUploadButton]="false"
            [showCancelButton]="false"
            (uploadHandler)="importExcel($event)"
            chooseIcon="pi pi-upload"
            chooseLabel=" "
          ></p-fileUpload>
          } @if (isExportVisible) {
          <p-button
            icon="pi pi-external-link"
            variant="text"
            severity="secondary"
            (click)="dt.exportCSV()"
          />
          }
          <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input
              #searchBox
              pInputText
              type="text"
              (input)="dt.filterGlobal(searchBox.value, 'contains')"
              placeholder="Search..."
            />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        @if (isDeleteSelectionVisible) {
        <th
          class="!bg-gray-700 !text-white !border-gray-600"
          style="width: 3rem"
        >
          <p-tableHeaderCheckbox />
        </th>
        }

        <th class="!bg-gray-700 !text-white !border-gray-600">No</th>
        @for (col of columns; track $index) {
        <th class="!bg-gray-700 !text-white !border-gray-600">
          {{ col.header }}
          <!-- @if (col.type==='date') { 
          <p-columnFilter
            type="date"
            field="date"
            display="menu"
            class="ml-auto !text-white"
          />
          } -->
        </th>
        }
        <th class="!bg-gray-700 !text-white !border-gray-600">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-value let-i="rowIndex">
      <tr>
        @if (isDeleteSelectionVisible) {
        <td style="width: 3rem">
          <p-tableCheckbox [value]="value" />
        </td>
        }
        <td>{{ i + 1 }}</td>

        @for (col of tableData; track $index) {
        <td>
          @if (col.field==='doc_date') {
          {{ value[col.field.trim()] | date : "shortDate" }}
          }@else if (col.field==='status') {
          {{ value[col.field.trim()] | titlecase }}
          }@else {
          {{ value[col.field.trim()] }}}
        </td>
        }
        <td>
          <div class="card flex justify-center">
            <p-button
              (click)="toggle(value.id)"
              severity="secondary"
              icon="pi pi-ellipsis-v"
            />
            <p-overlay
              [visible]="activeDataID === value.id"
              (onHide)="activeDataID = null"
              contentStyleClass="p-2 flex flex-col gap-1 bg-gray-400 rounded"
            >
              <ng-template #content>
                <button
                  class="w-full !py-1"
                  pButton
                  size="small"
                  type="button"
                  icon="pi pi-pencil"
                  label="Edit"
                  (click)="editData(value)"
                ></button>
                <button
                  class="!w-full !py-1"
                  severity="danger"
                  size="small"
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  label="Delete"
                  (click)="deleteData(value)"
                ></button>
              </ng-template>
            </p-overlay>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #paginatorleft>
      <p-button type="button" icon="pi pi-plus" text />
    </ng-template>
    <ng-template #paginatorright>
      <p-button type="button" icon="pi pi-cloud" text />
    </ng-template>
  </p-table>
  <p-dialog
    [(visible)]="dataItemDialog"
    [style]="{ width: '450px' }"
    header="Data Details"
    [modal]="true"
  >
    <div class="flex flex-col gap-3 py-2 !overflow-hidden">
      @for (item of tableData; track $index) { @if (!(formType === 'creating' &&
      item.field === 'status')) {
      <p-floatlabel variant="on">
        @if (item.type === 'date') {
        <p-datepicker
          class="w-full"
          [(ngModel)]="data_item[item.field]"
          dateFormat="dd-mm-yy"
          showIcon
          inputId="{{ item.field }}"
          appendTo="body"
        />
        <label [for]="item.field">{{ item.header }}</label>
        } @else if (item.type === 'select') {
        <p-select
          appendTo="body"
          class="w-full"
          [options]="item.options"
          [(ngModel)]="data_item[item.field]"
          optionLabel="name"
          optionValue="code"
          [showClear]="true"
          placeholder="Select option"
        />
        <label [for]="item.field">{{ item.header }}</label>

        } @else {
        <input
          pInputText
          [id]="item.field"
          [placeholder]="item.header"
          type="text"
          required
          fluid
          [(ngModel)]="data_item[item.field]"
          [attr.autocomplete]="item.field"
        />
        <label [for]="item.field">{{ item.header }}</label>
        }
      </p-floatlabel>
      } }
    </div>

    <ng-template #footer>
      <p-button
        label="Cancel"
        severity="secondary"
        icon="pi pi-times"
        text
        (click)="hideDialog()"
      />
      <p-button label="Save" icon="pi pi-check" (click)="saveData()" />
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
